<html>
    <head>
        <title> Teacher's Blog </title>
        <link  rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
        <link  rel="stylesheet" type="text/css" href="/stylesheets/app.css">
       
        
        <!--<script src="/scripts/app.js"></script>-->
    </head>
    <body>
        <div class="ui fixed blue huge inverted menu">  <!-- added blue and huge -->
            <div class="ui container">
                <div class="header item"><i class="code icon"></i> Teacher's Blog </div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>
                <form action="/" method="GET" class="form-inline">    <!-- when we submit the form instead of packaging everything in req.body , it does in req.query -->
        
                
                    
                </form>
            </div>
        </div>